[package]
name = "cli"
version.workspace = true
edition.workspace = true

[dependencies]
tokio = { workspace = true }
clap = { workspace = true }
eyre = { workspace = true }
tracing = { workspace = true }
migration = { workspace = true, features = ["clap", "rustls-tls-ring"] }
tracing-subscriber = { workspace = true }
